menu "Luna Mon Configuration"

    rsource "Config/Kconfig.WiFi"
    rsource "Config/Kconfig.MQTT"
    rsource "Config/Kconfig.WiFiSource"
    rsource "Config/Kconfig.UART1"
    rsource "Config/Kconfig.UART2"
    rsource "Config/Kconfig.RMTUART"
    rsource "Config/Kconfig.SoftwareUART"
    rsource "Config/Kconfig.NMEAServer"
    rsource "Config/Kconfig.NMEABridge"
    rsource "Config/Kconfig.SeaTalkNMEABridge"
    rsource "Config/Kconfig.Buzzer"
    rsource "Config/Kconfig.LED"
    rsource "Config/Kconfig.I2C"
    rsource "Config/Kconfig.Debug"
    rsource "Config/Kconfig.Extras"

endmenu
