menu "Luna Mon Configuration"

    config LUNAMON_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for Luna Mon to connect to.

    config LUNAMON_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for Luna Mon to use.

    config LUNAMON_MAX_MQTT_CLIENTS
        int "Max MQTT Clients"
        default 5
        help
            The maximum allowed simultaneous MQTT client connections.

    config LUNAMON_HAS_NMEA_OVER_WIFI_SOURCE
        bool "Has NMEA over WiFi Source"
        default n
        help
            Whether or not there's a WiFi source for NMEA messages.

    config LUNAMON_NMEA_WIFI_ENABLED
        int
            default 1 if LUNAMON_HAS_NMEA_OVER_WIFI_SOURCE
            default 0 if !LUNAMON_HAS_NMEA_OVER_WIFI_SOURCE

    if LUNAMON_HAS_NMEA_OVER_WIFI_SOURCE

    config LUNAMON_NMEA_WIFI_SOURCE_IPV4_ADDR
        string "WiFi NMEA Source IPv4 Address"
        default "sourceIPV4"
        help
            The IPv4 address of the NMEA source.

    config LUNAMON_NMEA_WIFI_SOURCE_TCP_PORT
        int "WiFi NMEA Source TCP Port"
        default 39150
        help
            The TCP port number for the NMEA source.

    endif

    config LUNAMON_HAS_UART1_SOURCE
        bool "Has a serial source connected for UART1"
        default n
        help
            Whether or not there's a serial source connected to be configured as UART1.

    config LUNAMON_UART1_ENABLED
        int
        default 1 if LUNAMON_HAS_UART1_SOURCE
        default 0 if !LUNAMON_HAS_UART1_SOURCE

    if LUNAMON_HAS_UART1_SOURCE
        choice
            prompt "UART1 Protocol"
            default LUNAMON_UART1_NMEA_0183
            help
                Luna Mon supports interfaces with either NMEA 0183 messages or $STALK messages.
                NMEA 0183 is what is typically put out by older, non-Raymarine devices. SeaTalk
                is a proprietary protocol used by AutoHelm and Raymarine devices. $STALK is a
                packaging of SeaTalk messages into a NMEA 0183 message structure typically outputed
                by bridging devices such as the Digital Yachts ST-NMEA.

            config LUNAMON_UART1_NMEA_0183
                bool "NMEA 0183"
            config LUNAMON_UART1_STALK
                bool "$STALK"
        endchoice

        config LUNAMON_UART1_RX_PIN
            int "UART1 RX Pin"
            default 16
            help
                Pin number to use for the UART1's RX pin. Consult your board documentation for
                information on which pin to use.

        config LUNAMON_UART1_TX_PIN
            int "UART1 TX Pin"
            default 17
            help
                Pin number to use for the UART1's TX pin. Consult your board documentation for
                information on which pin to use.

        choice
            prompt "UART1 Baud Rate"
            default LUNAMON_UART1_BAUD_RATE_4800
            help
                There are two baud rates used by NMEA 0183 devices, 4800 and 38400. Most devices
                use the former while AIS transceivers typically use the later. Since these are
                incompatible to directly connect, vessels would usually either run one of each to
                each MFD, or use a device (often the AIS) to bridge the slower feed onto the faster.
                SeaTalk runs native 4800 while a $STALK translation device might be 4800 or 38400.
                Select the speed of what's connected to UART1.

            config LUNAMON_UART1_BAUD_RATE_4800
                bool "4800"
            config LUNAMON_UART1_BAUD_RATE_38400
                bool "38400"
        endchoice

        config LUNAMON_UART1_BAUD_RATE
            int
            default 4800 if LUNAMON_UART1_BAUD_RATE_4800
            default 38400 if LUNAMON_UART1_BAUD_RATE_38400

    endif

    config LUNAMON_HAS_UART2_SOURCE
        bool "Has a serial source connected for UART2"
        default n
        help
            Whether or not there's a serial source connected to be configured as UART2.

    config LUNAMON_UART2_ENABLED
        int
        default 1 if LUNAMON_HAS_UART2_SOURCE
        default 0 if !LUNAMON_HAS_UART2_SOURCE

    if LUNAMON_HAS_UART2_SOURCE
        choice
            prompt "UART2 Protocol"
            default LUNAMON_UART2_NMEA_0183
            help
                Luna Mon supports interfaces with either NMEA 0183 messages or $STALK messages.
                NMEA 0183 is what is typically put out by older, non-Raymarine devices. SeaTalk
                is a proprietary protocol used by AutoHelm and Raymarine devices. $STALK is a
                packaging of SeaTalk messages into a NMEA 0183 message structure typically outputed
                by bridging devices such as the Digital Yachts ST-NMEA.

            config LUNAMON_UART2_NMEA_0183
                bool "NMEA 0183"
            config LUNAMON_UART2_STALK
                bool "$STALK"
        endchoice

        config LUNAMON_UART2_RX_PIN
            int "UART2 RX Pin"
            default 5
            help
                Pin number to use for the UART2's RX pin. Consult your board documentation for
                information on which pin to use.

        config LUNAMON_UART2_TX_PIN
            int "UART2 TX Pin"
            default 4
            help
                Pin number to use for the UART2's TX pin. Consult your board documentation for
                information on which pin to use.

        choice
            prompt "UART2 Baud Rate"
            default LUNAMON_UART2_BAUD_RATE_4800
            help
                There are two baud rates used by NMEA 0183 devices, 4800 and 38400. Most devices
                use the former while AIS transceivers typically use the later. Since these are
                incompatible to directly connect, vessels would usually either run one of each to
                each MFD, or use a device (often the AIS) to bridge the slower feed onto the faster.
                SeaTalk runs native 4800 while a $STALK translation device might be 4800 or 38400.
                Select the speed of what's connected to UART2.

            config LUNAMON_UART2_BAUD_RATE_4800
                bool "4800"
            config LUNAMON_UART2_BAUD_RATE_38400
                bool "38400"
        endchoice

        config LUNAMON_UART2_BAUD_RATE
            int
            default 4800 if LUNAMON_UART2_BAUD_RATE_4800
            default 38400 if LUNAMON_UART2_BAUD_RATE_38400

    endif

    config LUNAMON_HAS_SOFTWARE_UART_SOURCE
        bool "Has a serial source connected for the Software UART"
        default n
        help
            Whether or not there's a serial source connected to be configured as a software UART.

    config LUNAMON_SOFTWARE_UART_ENABLED
        int
        default 1 if LUNAMON_HAS_SOFTWARE_UART_SOURCE
        default 0 if !LUNAMON_HAS_SOFTWARE_UART_SOURCE

    if LUNAMON_HAS_SOFTWARE_UART_SOURCE
        choice
            prompt "Software UART Protocol"
            default LUNAMON_SOFTWARE_UART_NMEA_0183
            help
                Luna Mon supports interfaces with either NMEA 0183, SeaTalk or $STALK messages.
                NMEA 0183 is what is typically put out by older, non-Raymarine devices. SeaTalk
                is a proprietary protocol used by AutoHelm and Raymarine devices. $STALK is a
                packaging of SeaTalk messages into a NMEA 0183 message structure typically outputed
                by bridging devices such as the Digital Yachts ST-NMEA.

            config LUNAMON_SOFTWARE_UART_NMEA_0183
                bool "NMEA 0183"
        endchoice

        config LUNAMON_SOFTWARE_UART_RX_PIN
            int "Software UART RX Pin"
            default 5
            help
                Pin number to use for the software UART's RX pin. Consult your board documentation
                for information on which pin to use.

        config LUNAMON_SOFTWARE_UART_TX_PIN
            int "Software UART TX Pin"
            default 4
            help
                Pin number to use for the software UART's TX pin. Consult your board documentation
                for information on which pin to use.

    endif

    config LUNAMON_HAS_STATUS_LED
        bool "Has Status LED"
        default n
        help
            Whether or not the unit has a LED which can be used to flash status conditions.

    if LUNAMON_HAS_STATUS_LED
    config LUNAMON_STATUS_LED_GPIO
        int "Status LED Pin"
        default 13
        help
            GPIO pin number where a status LED is connected. Consult your board documentation for
            information on which pin to use.
    endif

    config LUNAMON_STATUS_LED_ENABLED
        int
        default 1 if LUNAMON_HAS_STATUS_LED
        default 0 if !LUNAMON_HAS_STATUS_LED

    config LUNAMON_HAS_I2C_DEVICES
        bool "Has I2C Devices"
        default n
        help
            Whether or not the unit has sensors such as a BME280 or an ENS160 attached via I2C.

    config LUNAMON_I2C_ENABLED
        int
        default 1 if LUNAMON_HAS_I2C_DEVICES
        default 0 if !LUNAMON_HAS_I2C_DEVICES

    if LUNAMON_HAS_I2C_DEVICES
    choice 
        prompt "I2C Master ID"
        default LUNAMON_I2C_MASTER_NUM_0
        help
            Some ESP variants have two I2C interfaces. Select which interface to use for Luna Mon 
            sensors.

        config LUNAMON_I2C_MASTER_NUM_0
            bool "0"
        config LUNAMON_I2C_MASTER_NUM_1
            bool "1"
    endchoice

    config LUNAMON_I2C_MASTER_NUM
        int
        default 0 if LUNAMON_I2C_MASTER_NUM_0
        default 1 if LUNAMON_I2C_MASTER_NUM_1
        
    config LUNAMON_I2C_MASTER_SCL_IO
        int "I2C SCL IO Pin"
        default 22
        help
            Pin number to use for the I2C SCL. Consult your board documentation for information
            on which pin to use.

    config LUNAMON_I2C_MASTER_SDA_IO
        int "I2C SDA IO Pin"
        default 23
        help
            Pin number to use for the I2C SDA. Consult your board documentation for information
            on which pin to use.

    config LUNAMON_HAS_BME280
        bool "Has BME280"
        default n
        help
            Whether or not the unit has a BME280 sensor chip connected.

    if LUNAMON_HAS_BME280
    choice
        prompt "BME280 I2C Address"
        default LUNAMON_BME280_ADDRESS_77
        help
            The BME280 defaults to I2C address 0x77, but can be configured hardware to be 0x76.
            Select the address used by your board.

        config LUNAMON_BME280_ADDRESS_77
            bool "0x77"
        config LUNAMON_BME280_ADDRESS_76
            bool "0x76"
    endchoice

    config LUNAMON_BME280_ADDRESS
        hex
        default 0x77 if LUNAMON_BME280_ADDRESS_77
        default 0x76 if LUNAMON_BME280_ADDRESS_76

    endif

    config LUNAMON_HAS_ENS160
        bool "Has ENS160"
        default n
        help
            Whether or not the unit has a ENS160 sensor chip connected.

    if LUNAMON_HAS_ENS160
    choice
        prompt "ENS160 I2C Address"
        default LUNAMON_ENS160_ADDRESS_53
        help
            The ENS160 defaults to I2C address 0x53, but can be configured hardware to be 0x52.
            Select the address used by your board.

        config LUNAMON_ENS160_ADDRESS_53
            bool "0x53"
        config LUNAMON_ENS160_ADDRESS_52
            bool "0x52"
    endchoice

    config LUNAMON_ENS160_ADDRESS
        hex
        default 0x53 if LUNAMON_ENS160_ADDRESS_53
        default 0x52 if LUNAMON_ENS160_ADDRESS_52

    endif
    endif

    config LUNAMON_BME280_ENABLED
        int
        default 1 if LUNAMON_HAS_BME280
        default 0 if !LUNAMON_HAS_BME280

    config LUNAMON_ENS160_ENABLED
        int
        default 1 if LUNAMON_HAS_ENS160
        default 0 if !LUNAMON_HAS_ENS160

    config LUNAMON_TCP_KEEPALIVE_IDLE
        int "TCP keep-alive idle time(s)"
        default 5
        help
            Keep-alive idle time. In idle time without receiving any data from peer, will send
            keep-alive probe packet.

    config LUNAMON_TCP_KEEPALIVE_INTERVAL
        int "TCP keep-alive interval time(s)"
        default 5
        help
            Keep-alive probe packet interval time.

    config LUNAMON_TCP_KEEPALIVE_COUNT
        int "TCP keep-alive packet retry send counts"
        default 3
        help
            Keep-alive probe packet retry count.

    config LUNAMON_DEBUG_MODULE_MAIN
        bool "Debug Main"
        help
            Whether or not to debug the main module.

    config LUNAMON_DEBUG_MODULE_MAIN_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_MAIN
        default 0 if !LUNAMON_DEBUG_MODULE_MAIN

    config LUNAMON_DEBUG_MODULE_DATA_MODEL
        bool "Debug DataModel"
        help
            Whether or not to debug the DataModel module.

    config LUNAMON_DEBUG_MODULE_DATA_MODEL_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_DATA_MODEL
        default 0 if !LUNAMON_DEBUG_MODULE_DATA_MODEL

    config LUNAMON_DEBUG_MODULE_MQTT
        bool "Debug MQTT"
        help
            Whether or not to debug the MQTT module.

    config LUNAMON_DEBUG_MODULE_MQTT_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_MQTT
        default 0 if !LUNAMON_DEBUG_MODULE_MQTT

    config LUNAMON_DEBUG_MODULE_NMEA
        bool "Debug NMEA"
        help
            Whether or not to debug the NMEA module.

    config LUNAMON_DEBUG_MODULE_NMEA_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_NMEA
        default 0 if !LUNAMON_DEBUG_MODULE_NMEA

    config LUNAMON_DEBUG_MODULE_DATA_MODEL_BRIDGE
        bool "Debug DataModelBridge"
        help
            Whether or not to debug the DataModelBridge module.

    config LUNAMON_DEBUG_MODULE_DATA_MODEL_BRIDGE_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_DATA_MODEL_BRIDGE
        default 0 if !LUNAMON_DEBUG_MODULE_DATA_MODEL_BRIDGE

    config LUNAMON_DEBUG_MODULE_NMEA_WIFI
        bool "Debug NMEAWiFi"
        help
            Whether or not to debug the NMEAWiFi module.

    config LUNAMON_DEBUG_MODULE_NMEA_WIFI_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_NMEA_WIFI
        default 0 if !LUNAMON_DEBUG_MODULE_NMEA_WIFI

    config LUNAMON_DEBUG_MODULE_NMEA_UART
        bool "Debug NMEA UART"
        help
            Whether or not to debug the NMEA UART module.

    config LUNAMON_DEBUG_MODULE_NMEA_UART_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_NMEA_UART
        default 0 if !LUNAMON_DEBUG_MODULE_NMEA_UART

    config LUNAMON_DEBUG_MODULE_NMEA_SOFT_UART
        bool "Debug NMEA Software UART"
        help
            Whether or not to debug the NMEA Software UART module.

    config LUNAMON_DEBUG_MODULE_NMEA_SOFT_UART_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_NMEA_SOFT_UART
        default 0 if !LUNAMON_DEBUG_MODULE_NMEA_SOFT_UART

    config LUNAMON_DEBUG_MODULE_STALK
        bool "Debug STALK"
        help
            Whether or not to debug the STALK module.

    config LUNAMON_DEBUG_MODULE_STALK_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_STALK
        default 0 if !LUNAMON_DEBUG_MODULE_STALK

    config LUNAMON_DEBUG_MODULE_STALK_UART
        bool "Debug STALK UART"
        help
            Whether or not to debug the STALK UART module.

    config LUNAMON_DEBUG_MODULE_STALK_UART_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_STALK_UART
        default 0 if !LUNAMON_DEBUG_MODULE_STALK_UART

    config LUNAMON_DEBUG_MODULE_SEATALK
        bool "Debug SeaTalk"
        help
            Whether or not to debug the SeaTalk module.

    config LUNAMON_DEBUG_MODULE_SEATALK_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_SEATALK
        default 0 if !LUNAMON_DEBUG_MODULE_SEATALK

    config LUNAMON_DEBUG_MODULE_NMEA_LINE
        bool "Debug NMEA Line"
        help
            Whether or not to debug the NMEA Line module.

    config LUNAMON_DEBUG_MODULE_NMEA_LINE_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_NMEA_LINE
        default 0 if !LUNAMON_DEBUG_MODULE_NMEA_LINE

    config LUNAMON_DEBUG_MODULE_UART
        bool "Debug UART"
        help
            Whether or not to debug the UART module.

    config LUNAMON_DEBUG_MODULE_UART_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_UART
        default 0 if !LUNAMON_DEBUG_MODULE_UART

    config LUNAMON_DEBUG_MODULE_SOFT_UART
        bool "Debug Software UART"
        help
            Whether or not to debug the Software UART module.

    config LUNAMON_DEBUG_MODULE_SOFT_UART_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_SOFT_UART
        default 0 if !LUNAMON_DEBUG_MODULE_SOFT_UART

    config LUNAMON_DEBUG_MODULE_AIS
        bool "Debug AIS"
        help
            Whether or not to debug the AIS module.

    config LUNAMON_DEBUG_MODULE_AIS_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_AIS
        default 0 if !LUNAMON_DEBUG_MODULE_AIS

    config LUNAMON_DEBUG_MODULE_WIFI_INTERFACE
        bool "Debug WiFiInterface"
        help
            Whether or not to debug the WiFiInterface module.

    config LUNAMON_DEBUG_MODULE_WIFI_INTERFACE_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_WIFI_INTERFACE
        default 0 if !LUNAMON_DEBUG_MODULE_WIFI_INTERFACE

    config LUNAMON_DEBUG_MODULE_WIFI_MANAGER
        bool "Debug WiFiManager"
        help
            Whether or not to debug the WiFiManager module.

    config LUNAMON_DEBUG_MODULE_WIFI_MANAGER_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_WIFI_MANAGER
        default 0 if !LUNAMON_DEBUG_MODULE_WIFI_MANAGER

    config LUNAMON_DEBUG_MODULE_STATS_MANAGER
        bool "Debug StatsManager"
        help
            Whether or not to debug the StatsManager module.

    config LUNAMON_DEBUG_MODULE_STATS_MANAGER_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_STATS_MANAGER
        default 0 if !LUNAMON_DEBUG_MODULE_STATS_MANAGER

    config LUNAMON_DEBUG_MODULE_I2C_MASTER
        bool "Debug I2CMaster"
        help
            Whether or not to debug the I2CMaster module.

    config LUNAMON_DEBUG_MODULE_I2C_MASTER_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_I2C_MASTER
        default 0 if !LUNAMON_DEBUG_MODULE_I2C_MASTER

    config LUNAMON_DEBUG_MODULE_BME280_DRIVER
        bool "Debug BME280Driver"
        help
            Whether or not to debug the BME280Driver module.

    config LUNAMON_DEBUG_MODULE_BME280_DRIVER_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_BME280_DRIVER
        default 0 if !LUNAMON_DEBUG_MODULE_BME280_DRIVER

    config LUNAMON_DEBUG_MODULE_ENS160_DRIVER
        bool "Debug ENS160Driver"
        help
            Whether or not to debug the ENS169Driver module.

    config LUNAMON_DEBUG_MODULE_ENS160_DRIVER_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_ENS160_DRIVER
        default 0 if !LUNAMON_DEBUG_MODULE_ENS160_DRIVER

    config LUNAMON_DEBUG_MODULE_ENVIRONMENTAL_MON
        bool "Debug EnvironmentalMon"
        help
            Whether or not to debug the EnvironmentalMon module.

    config LUNAMON_DEBUG_MODULE_ENVIRONMENTAL_MON_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_ENVIRONMENTAL_MON
        default 0 if !LUNAMON_DEBUG_MODULE_ENVIRONMENTAL_MON

    config LUNAMON_DEBUG_MODULE_TASK_OBJECT
        bool "Debug TaskObject"
        help
            Whether or not to debug the TaskObject module.

    config LUNAMON_DEBUG_MODULE_TASK_OBJECT_ENABLED
        int
        default 1 if LUNAMON_DEBUG_MODULE_TASK_OBJECT
        default 0 if !LUNAMON_DEBUG_MODULE_TASK_OBJECT

    config LUNAMON_ENABLE_DIGITAL_YACHTS_STALK_WORKAROUND
        bool "Enable Digital Yachts $STALK workaround"
        help
            Certain version of Digital Yachts ST-NEMA (ISO) Converter have a bug which causes
            their command to turn on $STALK output to not be saved in non-volatile memory. This
            option, when enabled, will cause Luna Mon to detect when normal NMEA 0183 messages are
            being received on a STALK interface and try to reconfigure the device on the fly.

    config LUNAMON_DIGITAL_YACHTS_STALK_WORKAROUND_ENABLED
        int
        default 1 if LUNAMON_ENABLE_DIGITAL_YACHTS_STALK_WORKAROUND
        default 0 if !LUNAMON_ENABLE_DIGITAL_YACHTS_STALK_WORKAROUND

endmenu
